body {
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.navbar {
  background-color: wheat;
  padding: 0.75rem 1.5rem;
}

.navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navbar li {
  color: #f9fafb;
  margin-right: 1.5rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}


.navbar li:last-child {
  margin-left: auto;
  margin-right: 0;
}


.navbar li:hover {
  color: #60a5fa;
  transform: translateY(-1px);
}

.navbar a {
  text-decoration: none;
  color: inherit;
}

.aboutContainer {
    height: 100vh;
    width: 100vw;
    background-color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.paraContainer {
    height: 100vh;
    width: 100vw;
    /* background-color: lightblue; */
    /* Paralax Content! */
    background-image: url("./images/simbaParaImg.gif");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.contactContainer {
    height: 100vh;
    width: 100vw;
    background-color: rosybrown;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styling for resume page */
.resumeContainer {
    height: 100vh;
    width: 100%;
    background-color: wheat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}